span.wpcf7-not-valid-tip {
    font-size: 14px !important;
    padding: 12px 0px !important;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    line-height: 100%;
}

/*
---------------------
 Contact Form
---------------------
*/
body .sc-dsc-wrp .wpcf7-form{
	max-width: 345px;
	width: 100%;
}

body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .wpforms-field{
	width: 50%;
	float: left;
	padding: 0 4px;
	margin-bottom: 6px;
	position: relative;
	clear: none;
}
body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .wpforms-field-textarea,
body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .yourFieldFull{
	width: 100%;
}
body .sc-dsc-wrp .wpcf7-form .wpforms-field-container{
	margin: 0 -4px;
}
body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .wpforms-field textarea,
body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .wpforms-field input{
	width: 100%;
	max-width: 100%;
	height: 48px;
	background: #ededed;
	border:0;
	box-sizing: border-box;
	padding: 15px 18px;
	color: #000;
	font-weight: 400;
	font-size: 19px;
	line-height: 21px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .wpforms-field textarea{
	height: 115px;
	resize: none;
}
body .sc-dsc-wrp .wpcf7-form .wpforms-submit-container input{
	max-width: 190px;
	width: 100%;
	height: 48px;
	border: 0;
	box-sizing: border-box;
	border-radius: 0;
	background: transparent;
	font-size: 19px;
	line-height: 21px;
	color: #fff;
	font-weight: 700;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	margin-top:0;
	cursor: pointer;
	background: #31c3f2 !important;
}
body .sc-dsc-wrp .wpcf7-form .wpforms-submit-container input:hover{
	background: #064771 !important;
	color: #fff !important;
}
body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .wpforms-field textarea:focus,
body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .wpforms-field input:focus{
	background: #d7d4d4;
}
body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .wpforms-field textarea::-webkit-input-placeholder,
body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .wpforms-field input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  opacity: 1;
}
body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .wpforms-field textarea::-moz-placeholder,
body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .wpforms-field input::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  opacity: 1;
}
body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .wpforms-field textarea:-ms-input-placeholder,
body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .wpforms-field input:-ms-input-placeholder { /* IE 10+ */
  color: #000;
  opacity: 1;
}
body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .wpforms-field textarea:-moz-placeholder,
body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .wpforms-field input:-moz-placeholder { /* Firefox 18- */
  color: #000;
  opacity: 1;
}

@media(max-width: 575px){

	body .sc-dsc-wrp .wpcf7-form .wpforms-field-container .wpforms-field {
	    width: 100%;
	}

}
