.ftr-top-wrp{
	background: #245d82;
	padding-top: 35px;
	padding-bottom: 35px;
}
.ftr-logo{
	padding-bottom: 38px;
}
.ftr-logo a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
}

.ftr-tp-btm-info{
	width: 50%;
	float: left;
}
.ftr-tp-btm-info ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.ftr-tp-btm-info ul li{
	width: 50%;
	float: left;
	font-size: 15px;
	line-height: 17px;
	font-weight: 400;
}
.ftr-tp-btm-info ul li:first-child{
	display: flex;
	justify-content: left;
}
.ftr-tp-btm-info ul li:last-child{
	padding-left: 50px;
}
.ftr-tp-btm-info ul li a,
.ftr-tp-btm-info ul li span{
	color: #fff;
}
.ftr-tp-btm-info ul li span:nth-child(1){
	padding-right: 28px;
}
span.email{
	padding-right: 30px !important;
}
span.phone{
	padding-right: 25px !important;
}

.ftr-tp-btm-menu{
	width: 50%;
	float: left;
	padding-top: 18px;
}
.ftr-tp-btm-menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}
.ftr-tp-btm-menu ul li{
	float: left;
	font-size: 15px;
	line-height: 17px;
	padding: 0 8px;
	position: relative;
}
.ftr-tp-btm-menu ul li:after{
	content: "";
	position: absolute;
	width: 2px;
	height: 14px;
	background: #fff;
	top: 3px;
	right: -1px;
}
.ftr-tp-btm-menu ul li:last-child{
	padding-right: 0;
}
.ftr-tp-btm-menu ul li:last-child:after{
	content: none;
}
.ftr-tp-btm-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-weight: 700;
	color: #fff;
}
.ftr-tp-btm-info ul li a:hover,
.ftr-tp-btm-menu ul li a:hover{
	color: #31c3f2;
}
.ftr-btm-wrp{
	padding: 10px 0;
}
.ftr-btm-inr p{
	margin: 0;
	font-size: 11px;
	line-height: 13px;
	color: #797979;
}


@media(max-width: 1199px){
	.ftr-tp-btm-info ul li:last-child {
	    padding-left: 25px;
	}
	.ftr-tp-btm-info ul li span:nth-child(1){
		padding-right: 28px;
	}
	span.email{
		padding-right: 24px !important;
	}
	span.phone{
		padding-right: 20px !important;
	}

}

@media(max-width: 991px){
	.ftr-tp-btm-info{
		width: 57%;
	}
	.ftr-tp-btm-menu{
		width: 43%;
	}
	.ftr-tp-btm-menu ul li {
	    font-size: 14px;
	    line-height: 17px;
	    padding: 0 5px;
	}
	.ftr-tp-btm-menu ul li:after {
	    width: 2px;
	    height: 12px;
	    top: 4px;
	}
	.ftr-tp-btm-info ul li {
	    font-size: 14px;
	    line-height: 17px;
	}
	.ftr-tp-btm-info ul li span:nth-child(1) {
	    padding-right: 14px;
	}
	span.phone {
	    padding-right: 12px !important;
	}
	span.email {
	    padding-right: 17px !important;
	}
	.ftr-tp-btm-info ul li:last-child {
	    padding-left: 18px;
	}
	
	
	
}

@media(max-width: 767px){
	.ftr-logo {
	    padding-bottom: 42px;
	}
	.ftr-tp-btm-info {
	    width: 100%;
	    float: left;
	}
	.ftr-tp-btm-info ul li span:nth-child(1){
		padding-right: 39px;
	}
	span.phone {
	    padding-right: 30px !important;
	}
	span.email {
	    padding-right: 35px !important;
	}
	.ftr-tp-btm-info ul li {
	    width: 100%;
	    font-size: 20px;
	    line-height: 24px;
	}
	.ftr-tp-btm-info ul li:last-child{
	    padding-left: 0;
	    padding-top: 35px;
	}
	.ftr-btm-inr p {
	    font-size: 17px;
	    line-height: 19px;
	}
	.ftr-btm-wrp {
	    padding: 26px 0;
	}
}

@media(max-width: 575px){
	

}

@media(max-width: 479px){
	.ftr-tp-btm-info ul li {
	    font-size: 16px;
	    line-height: 20px;
	}
	.ftr-tp-btm-info ul li:last-child {
	    padding-top: 30px;
	}
	.ftr-logo {
	    padding-bottom: 35px;
	}
	.ftr-btm-inr p {
	    font-size: 15px;
	    line-height: 17px;
	}
	.ftr-tp-btm-info ul li span:nth-child(1){
		padding-right: 32px;
	}
	span.phone {
	    padding-right: 25px !important;
	}
	span.email {
	    padding-right: 30px !important;
	}

}

@media(max-width: 359px){

}