/*
------------------
	header
------------------
*/
.header-inr{
	padding: 30px 0 0;
}
.hdr-lft{
	width: 40%;
	float: left;
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: inherit;
}
.hdr-rgt{
	width: 60%;
	float: right;
}
.hdr-contact{
	float: right;
	margin-top: -2px;
}
.hdr-contact ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.hdr-contact ul li{
	float: left;
	padding: 0 32px;
	font-size: 13px;
	line-height: 15px;
}
.hdr-contact ul li:last-child{
	padding-right: 0;
}
.hdr-contact ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #303037;
	padding-left: 20px;
}
.mail-icon{
	background: url(../images/mail-icon.png);
	background-repeat: no-repeat;
	background-position: left top 3px;
	background-size: 14px 9px;
}
.phone-icon{
	background: url(../images/phone-icon.png);
	background-repeat: no-repeat;
	background-position: left 8px top 2px;
	background-size: 8px 12px;
}
.hdr-contact ul li a:hover{
	color: #064771;
}


.main-nav {
	float: right;
	padding-top: 35px;
}
.main-nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-nav > ul > li{
	float: left;
	font-size: 15px;
	line-height: 17px;
	font-weight: 700;
	padding: 0 14px 38px;
	position: relative;
}
.main-nav > ul > li:hover > a{
	color: #064771;
}
.main-nav ul li:last-child{
	padding-right: 0;
}
.main-nav ul li a::before{
	content: "";
	position: absolute;
	right: -14px;
	background: #4f4f4f;
	width: 1px;
	height: 8px;
	top: 50%;
	margin-top: -1px;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.main-nav ul li:last-child a:before{
	content: none;
}
.main-nav ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #343434;
	position: relative;
	padding-bottom: 5px;
}
.main-nav > ul > li > a:after{
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	top: 100%;
	height: 2px;
	background: #064771;
	transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	-webkit-transform: scale(0, 1);
	transform-origin: center center 0;
	-ms-transform-origin: center center 0;
	-webkit-transform-origin: center center 0;
	transition: all 0.2s ease-out 0s;
	-ms-transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	width: 100%;
}
.main-nav > ul > li.current-menu-item > a:after,
.main-nav > ul > li > a:hover:after{
	transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
}

.main-nav > ul > li.menu-item-has-children{
	position: relative;
	z-index: 1111;
}
.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	position: absolute;
	top: 100%;
	background: rgba(237,237,237,.8);
	left: 4px;
	padding: 17px 11px 8px 11px;
	z-index: 30;
	width: 122px;
	margin-top:0px;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    opacity: 0;
}
.main-nav > ul > li.menu-item-has-children ul li{
	display: block;
	margin-bottom: 2px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}
.main-nav > ul > li.menu-item-has-children:hover > a:after{
	content: none;
}
.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu{
	transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
    z-index: 50;
}
.main-nav > ul > li ul.sub-menu li a:before{
	content: none;
}

/*
-------------------
Header Responsive
-------------------
*/
@media(max-width: 1199px){
	.main-nav {
	    padding-top: 30px;
	}
	.main-nav > ul > li {
	    font-size: 15px;
	    line-height: 17px;
	    padding: 0 12px 38px;
	}
	.main-nav ul li a::before{
		right: -12px;
	}
	.logo a {
	    max-width: 350px;
	    width: 100%;
	}
}

@media(max-width: 991px){
	.hdr-lft {
	    width: 35%;
	}
	.logo a {
	    max-width: 250px;
	    width: 100%;
	}
	.hdr-rgt {
	    width: 65%;
	}
	.main-nav {
	    padding-top: 18px;
	}
	.main-nav > ul > li {
	    font-size: 14px;
	    line-height: 16px;
	    padding: 0 10px 28px;
	}
	
}

@media(max-width: 767px){
	.header{
		padding-top: 8px;
	}
	.header-inr {
	    padding: 25px 0 0;
	}
	.hdr-lft {
	    width: 100%;
	    float: none;
	    text-align: center;
	}
	.logo{
		padding-bottom: 18px;
	}
	.logo a{
	    max-width: 430px;
	    width: 100%;
	    margin: 0 auto;
	}
	.logo a img{
		width: 100%;
	}
	.xs-nav-menu-wrp{
		background: #fff;
		padding: 0 0 3px;
		position: relative;
	}
	.xs-contact-info{
		float: left;
	}
	.xs-contact-info a{
	    width: 60px;
	    height: 54px;
	    background: #064771;
	    display: inline-block;
	    vertical-align: baseline;
	    text-align: center;
	    text-decoration: none;
	    position: relative;
	}
	.xs-contact-info a i{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
	}
	/*------ responsive nav ----*/
	.nav-opener{
	    cursor: pointer;
	    float: right;
	    z-index: 1;
	    background: #31c3f2;
	    padding: 13px 15px 14px 15px;
	    max-width: 240px;
	    width: 100%;
	}
	.nav-opener-btn span{
		-webkit-transition:all .2s;	/* Chrome, Safari, Opera */
		-ms-transition:all .2s;	/* IE 9 */
		-moz-transition:all .2s; /* Standard syntax */
		transition:all .2s;	
	}
	.nav-opener-btn {
		position: relative;
		width: 35px;
		height: 20px;
		float: right;
		margin-top: 1px;
	}
	.nav-opener-btn span{
		display: block;
		background: #fff;
		height: 6px;
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}
	.nav-opener-btn span:nth-child(2){
		top: 10px;
	}
	.nav-opener-btn span:nth-child(3){
		top: 20px;
	}
	.nav-opener strong {
		font-size: 38px;
		line-height: 27px;
		color: #fff;
		font-weight: 800;
		display: inline-block;
		vertical-align: baseline;
	}

	.xs-menu {
		position: absolute;
		top: 100%;
		left:0;
		right:0;
		background-color: #064771;
		padding: 18px 15px;
		z-index: 1000;
		text-align: center;
		display: none;
	}
	.xs-menu > ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.xs-menu > ul > li {
		font-size: 38px;
		line-height: 34px;
		padding: 20px 0;
	}
	.xs-menu ul > li > a{
		color: #fff;
		font-weight: 700;
		display: inline-block;
		vertical-align: baseline;
		text-decoration: none;
		text-transform: capitalize;
	}
	.xs-menu ul li a:hover{
		color: #fecf19;
	}
	.xs-menu > ul > li.menu-item-has-children ul{
		padding: 0;
		margin: 0;
		list-style: none;
		padding-bottom: 10px;
	}
	.xs-menu > ul > li.menu-item-has-children ul li{
		padding-top: 38px;

	}
	.xs-menu > ul > li.menu-item-has-children ul > li > a{
		display: inline-block;
		vertical-align: baseline;
		font-size: 30px;

	}
}

@media(max-width: 575px){
	.nav-opener {
	    padding: 11px 10px 12px 10px;
	    max-width: 160px;
	    width: 100%;
	}
	.nav-opener strong {
	    font-size: 32px;
	    line-height: 27px;
	    padding-right: 5px;
	}
	.xs-contact-info a {
	    width: 50px;
	    height: 50px;
	}
	.xs-menu > ul > li {
		font-size: 35px;
		line-height: 32px;
		padding: 15px 0;
	}
	.xs-menu > ul > li.menu-item-has-children ul li {
	    padding-top: 33px;
	}
	.xs-menu > ul > li.menu-item-has-children ul > li > a {
	    font-size: 27px;
	    line-height: 29px;
	}
	.xs-contact-info a i img{
		max-width:15px;
		width: 100%; 
	}
	.nav-opener-btn span:nth-child(2){
		top: 9px;
	}
	.nav-opener-btn span:nth-child(3){
		top: 18px;
	}
	.nav-opener-btn {
	    margin-top: 2px;
	}
}

@media(max-width: 479px){
	.nav-opener strong {
		display: none;
	}
	.nav-opener {
	    padding: 8px 11px 12px 10px;
	    max-width: 57px;
	    width: 100%;
	}
	.nav-opener-btn{
		margin-top: 0;
	}
	.xs-contact-info a {
	    width: 40px;
	    height: 40px;
	}
	.xs-menu > ul > li {
	    font-size: 32px;
	    line-height: 30px;
	    padding: 12px 0;
	}
	.xs-menu > ul > li.menu-item-has-children ul > li > a {
	    font-size: 25px;
	    line-height: 27px;
	}
	.xs-menu > ul > li.menu-item-has-children ul li {
	    padding-top: 30px;
	}

}

@media(max-width: 359px){

}
