/**
All heading  
*/
h1,h2,h3,h4,h5,h6{ 
	line-height: 1.1;	
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
h1{
	font-size: 37px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 24px;
} 
h3{
	font-size: 20px;
} 
h5{
	font-size: 22px;
} 
h6{
	font-size: 18px;
} 
